@charset "UTF-8";

#adminC{
	color:var(--blue-color)!important;
}

#adminH{
	color:var(--point-color)!important;
}

@media screen and (max-width: 767px){
	.excel_btn .btn{
		display:none !important;
	}
}