@charset "UTF-8";

#adminC{
	color:var(--blue-color)!important;
}

#adminH{
	color:var(--point-color)!important;
}
.aprv_top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom:10px;
}
.aprv_table{
	width:60px;	
}
.aprv_table thead tr{
	min_height:5px;
}
.aprv_view{
	display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.aprv_item{
	text-align: center;
}
.aprv_col{
	height:45px;
}
.aprv_td{
	height:30px;
}
.ExcelConBox{
	display:flex;
	align-items: center;
}
@media screen and (max-width: 1400px){
	.excel_btn .btn{
		display:none !important;
	}
}