@charset "UTF-8";

.header{
	display: flex;
    justify-content: center;
}

.POP_POST_SEARCH .tree_ui {
    overflow-y: auto;
    height: 530px;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #dde2e5;
    border-radius: 10px;
}
.tree_list{
	width: 100%;
}
.tree_box{
	display: flex;
    gap: 1%;
    width: 100%;
    flex-wrap: wrap;
}

.tree_box img{
	width: 25px;
}

.tree_box .tree_line{
	filter: opacity(0.2);
}

.tree_box .action_folder{
	cursor: pointer;
}

.tree_box .action_folder:hover{
	filter: opacity(0.5);
}

.tree_box p {	
	cursor: pointer;
	padding: 0px 5px;
}

.tree_box p:hover{
	border-radius: 6px;
    border: 1px solid #dde2e5;
	background: #c9cacb52;
    font-weight: bold;
}

.tree_box button:hover{
	background: #c9cacb;
    color: #fff;
}

.clickH1 {
	cursor: pointer;
	color: #bbb;
}

.inputHint {
    font-size: 14px;
    color: #bbb;
}

:root {
    --point-color: #ff6600;
    --main-hover: #0C91E9;
    --box-color: #fbfbfb;
    --line-color: #dde2e5;
    --font-gray: #aaa;
    --font-gray2: #666;
    --blue-color: #0465be;
    
}

.photoView{
	width: 19.5%;
    margin: 0.2%;
    background: linear-gradient(45deg, #fafafa 25%, #f3f3f3 0, #f3f3f3 50%, #fafafa 0, #fafafa 75%, #f3f3f3 0);
    background-size: 30px 30px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photoView p{
	font-weight: bold;
}

.photoView img{
	width: 100%
}

.passHint{
	margin-bottom: 5px;
}
.wp_80 {
	width: 80%;
	margin: auto;
}
.j_table tr td:nth-child(1), .j_table tr th:nth-child(1){
	width: 3%
}

.j_table tr td:nth-child(2), .j_table tr th:nth-child(2){
	width: 5%
}

.j_table tr td:nth-child(3), .j_table tr th:nth-child(3){
	width: 15%
}

.j_table tr td:nth-child(4), .j_table tr th:nth-child(4){
	width: 18%
}

.j_table tr td:nth-child(5), .j_table tr th:nth-child(5){
	width: 24%
}
.j_table tr td:nth-child(6), .j_table tr th:nth-child(6){
	width: 11%
}

.j_table tr td:nth-child(7),.j_table tr th:nth-child(7){
	width: 14%;
}
.j_table tr td:nth-child(8), .j_table tr th:nth-child(8){
	width: 10%
}
.popup .j_box02 .search_box {
    width: 99% !important;
}

.popup .j_box02 .btn_box {
    width: 99% !important;
}
.gnb li div {
	width: 100%;
}

.gnb li div li{
	width: 100%;
}

 .mobG{
 display: none;
 }
.file_G img{
	width: 68px;
}



.w_88{
	width: 88px;
}

.editMngNum{
	display: none;
}

.search_date{
	display: inline-grid;
    position: relative;
    height: 34px;
    width: 100%;
}

.search_date img{
	display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 18px;
    border: 0;
    font-size: 0;
    cursor: pointer;
}

.search_date input{
	text-align: left;
	padding-left: 50px;
	cursor: default;
	height: 100%;
	color: var(--font-gray2);
	font-size: 14px;
}

.f_search2  input{
	cursor: default;
}

.manual_img{
	cursor: pointer;
}

.pop_check{
	text-align: center;
    line-height:  6;
}

.pop_check2{
	text-align: center;
    line-height:  2.5;
}

.check{
	height: 179px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pop_search{
	padding: 29px 40px !important;
}

.pop_check h4{
	/* margin-bottom: 13px; */
}

.pop_check .btn_blue_46{
	margin: 0px 5%;
}

.empty{
	text-align: center;
    margin: 100px;
}
.alertV{
	color: red;
	margin: 0px 1%;
}

.pop_Manual img{
	width: 70%;
}

.pop_Manual {
	text-align: center;
	line-height: 3;
}

.pop_Manual_File{
	text-align: center;
	line-height: 3;
}

.pop_Manual_File img{
	width: 95%
}

.board_list th{
	cursor: default;
}

.selete_table tbody tr:hover{
	background: #dde2e5;
	cursor: pointer;
}

.filebox {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.filebox label {
	display: inline-block;
	background: #fff;
	border: 1px solid #dde2e5;
    border-radius: 5px;
	cursor: pointer;
	padding: 6px 15px;
	letter-spacing: 1px;
	font-size:12px;
}

.filebox label:hover{
	background: #c9cacb;
    color: #fff;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.fileList{
	width: 100%;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.namebox img{
	width: 20px;
    opacity: 0.8;
    cursor: pointer;
    margin-left:1%;
}

.fileList input[type="text"] {
	height:100%;
    padding: 0 3px;
    border: none;
    color: #222;
    font-size: 16px;
    font-weight: 300;
    vertical-align: top;
    cursor: default;
    width: 100%;
}

.filebox input[type="text"]:focus {
    outline: none;
}

.photoList {
	/* height: 180px; */
	display: flex;
	width: 100%;
	margin-top: 8px;
}

.photobox{
	width: 19%;
	height: 100%;
	margin: 0.2%;
	background: linear-gradient(45deg,
	#fafafa 25%, #f3f3f3 0, #f3f3f3 50%,
	#fafafa 0, #fafafa 75%, #f3f3f3 0);
	-webkit-background-size:30px 30px;
	background-size:30px 30px;
    border-radius: 5%;
    position: relative;
}

.boxBtn{
	width: 100%;
	position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
}

.boxBtn img{
	width: 20px;
    margin: 2px 1%;
    opacity: 0.8;
    float: right;
    cursor: pointer;
}

.boxImg {
	width: 100%;
	position: relative;
	height: 89%;
	z-index: 0;
}
.boxImg img{
	width: 95%;
	max-height: 95%;
}

.right_btn {
	/* float: right; */
	text-align: right;
}

.board_view_bot {
	height: 50px;
}

.f_s_21 {
	font-size: 21px;
}

.f_s_15{
	font-size: 15px;
}

.btn_rel{
	position: relative;
}

.btn_rel .btn1{
	position: absolute;
	top: 5px;
	right: 5%;
	width: 15%;
	height: 20%;
}

.btn_rel .btn{
	width: 100%;
	opacity: 0.9;
    cursor: pointer;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    background: #ff6600;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn_rel .btn:hover{
	color: var(--point-color);
	border: 1px solid var(--point-color);
	background: none;
}

.btn_blue_15:hover{
	color: var(--point-color);
	border: 1px solid var(--point-color);
	background: none;
}

.approvalList .board_view2 td{
	padding: 5px 0;
    border-bottom: 1px solid #dde2e5;
    color: #666;
    text-align: center;
}

.board_list table{
	width: 100% !important;
}

.condition2 .j_box01, .condition2 .j_box02, .condition2 .j_box03, .condition2 .j_box04, .condition2 .j_box05, .condition2 .j_box06, .condition2 .j_box07 {
	display: flex;
    margin-bottom: 10px;
}

.condition2 .j_box07{
	max-width: 700px;
    margin: 0 auto;
}

.j_box07 .search_box{
    width: 69%;
    margin: 0px auto;
}

.j_box07 .btn_box{
    width: 29%;
    margin: 0px auto;
}

.condition2 .j_box04{
	max-width: 700px;
    margin: 0 auto;
}

.j_box06 .search_box{
    width: 59%;
    margin: 0px auto;
}

.j_box06 .btn_box{
    width: 39%;
    margin: 0px auto;
}

.condition2 .j_box05{
    margin: 0 auto;
}

.j_box05 div{
    width: 16%;
    margin: 0px auto;
}

.j_box05 .search_box{
    width: 22%;
    margin: 0px auto;
}

.j_box05 .btn_box{
    width: 10%;
    margin: 0px auto;
}

.j_box04 .select_box{
		width: 19%;
		margin: 0px auto;
}
.j_box04 .search_box{
		width: 59%;
		margin: 0px auto;
}
.j_box04 .btn_box{
		width: 19%;
		margin: 0px auto;
}

.j_box01 div{
		width: 32%;
		margin: 0px auto;
}

.j_box03 div{
	width: 24%;
	margin: 0px auto;
    height: 100%;
    display: flex;
}


.j_box01 .lb, .j_box02 .lb, .j_box03 .lb{
		margin: 0 10px 0px 5px;
}
.j_box01 .date_box{
	width: 32% !important;
	margin: 0px auto;
	height: 34px;
}

.date_box div{
	width: 100% !important;
	display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0px auto;
    height: 100%;
}

.date_box div span{
    margin: 0px auto;
   /*  height: 100%; */
}
.date_box div span:first-child{
    margin-left: 0px;
}

.date_box div span:last-child{
    margin-right: 0px;
}

.j_box01 .btn_box{
	width: 32% !important;
}

.j_box01 .search_box{
		width: 32%
}

.btn_box .btn:hover{
	background: #c9cacb;
    color: #fff;
}

.excel_btn{
	/* overflow: hidden; */
	/* margin-top: 10px;	 */
}

.excel_btn .btn{
	float:left;
}

.excel_btn .btn:hover{
	background: #c9cacb;
    color: #fff;
}

form .condition2{
	    padding: 10px 2%;
	}
	
.board_list+.board_list_bot {
    /* margin-top: 10px !important; */
}

.j_box02 div{
	width: 24.5%;
    margin: 0px auto;
    height: 100%;
    display: flex;
}

.j_box02 div div{
	width: 49%;
    margin: auto;
}

.btn_box{
    display: flex !important;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.j_box03 .date_box{
	width: 89% !important;
	margin: 0px auto;
	height: 34px;
}

.wp_87{
	width: 87%;
}

.f_14{
	font-size: 14px;
}

.search_td{
	display: flex;
	align-items: center;
}

.ui-datepicker-trigger {
	margin-left: 10px;
	vertical-align: middle;
}

.board_view_bot {
	overflow: hidden;
}

.right_btn {
	/* float: right;
	margin-left: 1%; */
}

.reset_btn{
	margin-left: 3%;
	width: 20px;
	vertical-align: -webkit-baseline-middle;
	cursor: pointer;
}

.search_btn{
	/* float: right; */
}

.search_btn:hover{
	background: #c9cacb;
    color: #fff;
}

.notice_wrap{
	display: block !important;
}

.board_view2 .req {
    display: inline-block;
    width: 7px;
    height: 7px;
    font-size: 0;
    background: url(../images/ico_req.png) no-repeat;
    vertical-align: 15px;
}

.file_G {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.file_G a{
	margin-right: 7%;
}

.total_cnt{
	overflow: hidden;
	margin-top: 15px;
}

.total_cnt p{
	float: right;
	margin-right: 1%;
}

.total_cnt .cnt{
	color: #0465be;
}

.PhotoManual{
	display: flex;
    width: 100%;
}

.PhotoManual img{
    width: 32%;
    margin: auto;
}

p .req {
    display: inline-block;
    width: 7px;
    height: 7px;
    font-size: 0;
    background: url(../images/ico_req.png) no-repeat;
    vertical-align: 15px;
}
.j_condition{
	display: flex;
    justify-content: center;
    gap: 8px;
}

.readonly{
background: #F7F7F7;
}

.btn_bot {
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.authorGroupList td{
	padding: 3px 0;
}

.popup .paging{
	margin-top: 10px;	
}

.gnb li{
	width : 130px;
}
.pty_dropdown{
	height: auto !important;
}

.wp_date{
	width: 48.2%;
}

.scrollList{
	max-height: 184px;
	 overflow: overlay;
}

.scrollList::-webkit-scrollbar {
    width: 3px;
}

.scrollList::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
}

.pty_btn {
    height: 34px;
    background: var(--box-color);
    border-radius: 6px;
    border: 1px solid #dde2e5;
    font-size: 14px;
    padding: 0 24px;
}

thead {
    background: #f5f6f7;
}

td {
    font-size: 14px;
}


form .condition2 :last-child{
    margin-bottom: 0px;
}

.btn_area {
    display: flex;
    justify-content: space-between;
}




@media screen and (max-width: 670px){
	
	.board_list table {
	    font-size: 11px;
	}
	
	td {
	    font-size: 11px;
	}
	
	.j_box01 .btn_box{
		width: 99% !important;
		margin-top: 5px;
	}
	
	.j_box01 .search_box{
		width: 99% !important;
		margin-top: 5px;
	}
	
	.date_box div span {
	    margin: 0px 1%;
	}

	.j_box01 .date_box{
		width: 99% !important;
	}
	
	.condition2 .j_box01, .condition2 .j_box02, .condition2 .j_box03, .condition2 .j_box04, .condition2 .j_box05, .condition2 .j_box06, .condition2 .j_box07{
	    flex-wrap: wrap;
	}
}

@media screen and (max-width: 425px){
	.photoView, .photobox{
		width: 80%;
		margin: 3px 0px;
	}
	
	.photoList {
	    /* height: 180px; */
	    display: flex;
	    width: 100%;
	    margin-top: 8px;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	
	.pop_header {
	    height: 61px;
	}
	.pop_header .close {
	    right: 4%;
	    top: 14px;
	}
	
	.popup .board_list_bot{
		margin-bottom: 10px
	}
	
	.board_view_top .info dl {
	    padding: 7px 0;
	}
	.tit_2+.board_view {
	    margin-top: 10px;
	}
	.f_txt2 {
	    height: 31px;
	    font-size: 14px;
	    margin: 0 auto;
	}
	
	.pop_container .box_1 :last-child{
	    margin: 0 auto;
	}
	
	.pop_container .box_1 {
	    padding: 26px 5px;
	    display: flex;
    	flex-wrap: wrap;
	}

	
	.pop_container {
	    padding: 5px 10px;
	}
	
	.pop_header h1 {
		padding: 17px 29px 0 29px;
	    font-size: 20px;
	}
		
	.skip_str{
		display: none;
	}
	.paging .next, .paging .prev {
	    margin-left: 5px;
	}
		
	.ui-widget.ui-widget-content {
		width: 100% !important;
	}
	
 	.SearchListPan {
		max-height: 98%;
		height: 100% !important;
	}
	
	.SearchListPan .SearchList{
	    max-height: 100% !important;
	    height: -webkit-fill-available !important;
	}  
	
	.j_box07 .search_box{
	    width: 99%;
	    margin: 0px auto;
	    margin-bottom: 5px;
	}
	
	.j_box07 .btn_box{
	    width: 99%;
	    margin: 0px auto;
	}
	
	.j_box06 .search_box{
	    width: 99%;
	    margin: 0px auto;
	    margin-bottom: 5px;
	}
	
	.j_box06 .btn_box{
	    width: 99%;
	    margin: 0px auto;
	}
	
	
	.pty_btn {
	    height: 31px !important;
	    font-size: 11px !important;
	    padding: 0 4px !important;
	    width: 80px;
	}
	.btn_box .btn_blue_46{
		 margin-bottom: 0px !important;
	}
		
	.btn_blue_46, .btn_skyblue_h46 {
	    height: 31px !important;
	    font-size: 11px !important;
	    line-height: 28px !important;
	    padding: 0 4px !important;
	    width: 68px !important;
	}
	
	.errSpan{
		font-size:10px !important;
	}
	.inputHint{
		font-size:10px !important;
	}
	
		.j_table tr td:nth-child(7),.j_table tr th:nth-child(7){
			display: none;
		}
		
		.j_table tr td:nth-child(1), .j_table tr th:nth-child(1){
			width: 7%
		}
		
		.j_table tr td:nth-child(2), .j_table tr th:nth-child(2){
			width: 10%
		}
		
		.j_table tr td:nth-child(3), .j_table tr th:nth-child(3){
			width: 17%
		}
		
		.j_table tr td:nth-child(4), .j_table tr th:nth-child(4){
			width: 18%
		}
		
		.j_table tr td:nth-child(5), .j_table tr th:nth-child(5){
			width: 20%
		}
		.j_table tr td:nth-child(6), .j_table tr th:nth-child(6){
			width: 16%
		}
		.j_table tr td:nth-child(8), .j_table tr th:nth-child(8){
			width: 12%
		}
		
		.j_box04 .select_box{
				width: 25%;
				margin: 0px auto;
				margin-bottom: 5px;
		}
		.j_box04 .search_box{
				width: 73%;
				margin: 0px auto;
				margin-bottom: 5px;
		}
		.j_box04 .btn_box{
				width: 99%;
				margin: 0px auto;
		}
	
	
		.j_box03 div{
			width: 49% !important;
			margin-bottom: 5px;
		}
		
		.j_box03 .search_box{
			width: 99% !important;
			margin-bottom: 5px;
		}
		
		.j_box03 .btn_box{
			width: 99% !important;
			margin-bottom: 0px;
		}
	
		.j_box02 .btn_box{
			width: 99% !important;
		}
		
		.j_box02 .search_box{
			width: 49% !important;
		}
	
		.j_box02 .date_box{
			width: 99% !important;
		}
}

@media (min-width: 425px) and (max-width: 900px){
	
	.ui-widget.ui-widget-content {
		width: 95% !important;
	}
	
	.j_box03 div{
		width: 49% !important;
		margin-bottom: 5px;
	}
	
	.j_box03 .search_box,.j_box03 .btn_box{
		margin-bottom: 0px;
	}
	
	
		
	.j_box02 .date_box{
		width: 49% !important;
	}
	
	.j_box02 .search_box{
		width: 49% !important;
	}
	
	.j_box02 .btn_box{
		width: 49% !important;
	}
}

@media (min-width: 670px) and (max-width: 900px){
		
	
		.j_box01 .btn_box{
			width: 12% !important;
		}
		
		.j_box01 .search_box{
			width: 37% !important;
		}
	
		.j_box01 .date_box{
			width: 47% !important;
		}
}

@media (min-width: 900px) and (max-width: 1200px){
	 .condition2 .j_box05{
	 flex-wrap: wrap;
	 }
	.j_box05 div{
	    width: 24%;
	    margin: 0px auto;
	    margin-bottom: 5px;
	}
	
	.j_box05 .search_box{
	    width: 79%;
	    margin: 0px auto;
	    margin-bottom: 0px;
	}
	
	.j_box05 .btn_box{
	    width: 19%;
	    margin: 0px auto;
	    margin-bottom: 0px;
	}
		
	.j_box02 .date_box{
		width: 30% !important;
		margin: 0px auto;
		height: 34px;
	}
	
	.j_box02 .search_box{
		width:  29% !important;
	}
	
	.j_box02 .btn_box{
		width: 10% !important;
	}
}
.fileList .namebox {
	display: flex;
	width: 100%;
	padding-top: 5px;
}
	

@media screen and (max-width: 900px){
		
	.pop_container .box_1 :first-child {
	    width: 99%;
	    margin-bottom: 10px;
	}
	.pop_container .box_1 {
	    display: flex;
	    flex-wrap: wrap;
	}
	
	.paging .btn a {
	    width: 23px;
    	height: 23px;
	}
	.paging .first,  .paging .last{
		background-size: 70% 76%;
	}
	
	.paging .prev, .paging .next{
		background-size: 55% 80%;
	}
	
	.paging>ul li {
	    margin-top: 0px;
	}
	
	.paging>ul li a, .paging>ul li strong {
	    display: block;
	    width: 20px;
	    height: 20px;
	    font-weight: 300;
	    line-height: 19px;
	    text-align: center;
	}

	 .condition2 .j_box05{
	 flex-wrap: wrap;
	 }
	.j_box05 div{
	    width: 49%;
	    margin: 0px auto;
	    margin-bottom: 5px;
	}
	
	.j_box05 .search_box{
	    width: 99%;
	    margin: 0px auto;
	    margin-bottom: 5px;
	}
	
	.j_box05 .btn_box{
	    width: 99%;
	    margin: 0px auto;
	    margin-bottom: 0px;
	}
	
	
	.pop_search {
	    padding: 14px 2px !important;
	}
	
	.mobG{
	 	display: block;
	 }
	 
	 .webG{
	 	display: none;
	 }
	
	.j_box01 div{
		width: 32%;
		margin: 0px auto;
	}
	.j_box01 .lb{
		margin: 0 10px 0px 5px;
	}

	.date_box div{
		width: 100%;
	}
	

	
	form .condition2{
	    padding: 10px 1%;
	}

	
	.j_box02 div {
    	width: 49%;
    	margin-bottom: 5px;
    }
	
	.condition2 .j_box02 {
	    flex-wrap: wrap;
	    margin-bottom: 0px;
	}
	
	.condition2 .j_box01{
	    margin-bottom: 5px;
	}

	
	.filebox {
		flex-wrap: wrap;
	}
	
	.fileList {
    	 width: 100%;
    	 padding: 5px 0;
	}
	
	.board_view2 .lb {
		position: relative;
	}
	
	.lb .manual_img{
		width: 20px;
		position: absolute;
		top: 50%;
		right: 1%;
		opacity: 0.8;
	    cursor: pointer;
	    transform: translate(-50%, -50%);
	}
	
	.board_view2 td {
    	padding: 5px 1%;
	}
	
	.board_view2 .lb {
    	padding: 12px 1%;
	}
	
	.approvalList .board_view2 td {
    	padding: 5px 1%;
	}
	
	.reset_btn{
		margin-left: 1%;
	}
	
	.condition2 .j_box03 {
		flex-wrap: wrap;
	}
	
	.condition form{
		width: 100%;
		justify-content: center;
	}
	
	.search_btn{
		/* margin-left: 3%; */
	}
	
	.file_G {
    	margin-top: 13px;
    	position: absolute;
    	bottom: 7%;
    	width: 95%;
    	flex-wrap: wrap;
	}
	
	.file_G div{
		width: 100%;
	}
	
	.search_date input{
		padding-left: 30px;
	}
	
	.wp_date{
		width: 46.7%;
	}
	
	.condition {
    display: flex!important;
    flex-wrap: wrap;
	}
}