@charset "UTF-8";

/* PTY */



:root {
   
    --point-color:#ff6600;
    --main-hover: #0C91E9;
    
    --box-color:#fbfbfb;
    
    --line-color:#dde2e5;
    
    --font-gray:#aaa;
    
     --font-gray2:#666;
     
     --blue-color:#0465be
     
}

html{
	overflow-y:scroll;
	height:100%;
}

td{
	font-size:14px;
}

a{
	color: #333;
}

body{
	width:100%;
	height:100%;
	
}





.wrap{
	height:auto;
	
} 

/* .pty_dropdown{
	display:none;
}


.gnb_li:hover .pty_dropdown{
	display:block;
	
} 
 */


/* gnb 드롭다운 관련 */
.gnb>ul{
display:flex;
	justify-content:center; 
	
}

.gnb>ul>li a{
	 display: block;
    transition: all 0.3s;
	
}


.gnb>ul>li a:hover{
	
    color:var(--point-color);
	
}


.pty_dropdown{
	display: none;

   color:#0aa5dc;
  
    position:relative;
     z-index: 999;
     background:#fff;
	padding: 0 0 14px 14px;
}

.pty_dropdown h3{
	font-size: 17px;
	color:block;
}

.gnb_li>a{
	color:var(--blue-color)!important;
}

/* gnb 드롭다운 관련///// */


.gnb_a{
	font-size:14px!important;
	font-weight:600!important;
	margin:8px 0;
}


.pty_bot{
	text-align:right;
	font-size:18px;	
}

 

.pty_main_right02 {
	display:flex;
	gap: 16px;
}

.pty_main_img{
	margin-right: 24px;
	
}

.pmr_d{
	width:160px;
	height:160px;
	background:#fff;
	
	border-radius: 4px;
	text-align: center;
	position: relative;
	
}

.pmr_d:hover .pmr_dd p{
	color: var(--point-color);
	transition: all 0.3s;
}

.pmr_d img{
	width:60px;
	height:60px;
	
}

.pmr_d p, .pty_main_right03 p{
	font-size: 16px;
	font-weight:500;
	
}


.pmr_d h4, .pty_main_right03 h4{
	font-size:12px;
	color: var(--font-gray);
	font-weight:200;
}

.pmr_dd{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pty_main_right03{
	width:336px;
	height:110px;
	
	border-radius: 4px;
	background:#fff;
	margin-top: 16px;
	position: relative;
	
	padding:20px;	
}

.pty_main_right03 h4{
	margin-top:30px;
}

.pty_main_right03 img{
	position: absolute;
  bottom: 20%;
  right: 6%;
}

.list table{
	all:unset;
}

.pty_list_d{
	display:flex;
	justify-content:space-between;
	
	border-bottom:1px solid var(--line-color);
	padding: 8px 0;
}

.pty_list_d:last-child{
	border: none;
}

.pld a{
	font-size:14px;
}

.pg_a{
	padding:4px 0;
}

.util_menu{
	display:none;
}

	.pty_footer{
	
		
		position:relative;
		  
		/* transform:translateY(100%); */
		/* width:100%;
		margin:0 auto; */
	} 
	
.pty_colbox{
	width:350px!important;
	height:280px!important;
	
}

.pty_flex{
	display:flex;
	justify-content:center;
}

.loginbox .pty_m_btn_login {
	display:none;
}

.pty_flex dl{
	display:flex;
	line-height:46px;
}


/* .pty_icon_01{
	background:url(http://locallhost:8070/images/pty_icon_01.png);
	
} */

.pty_flex dl:nth-child(even) dd {
	/* margin-left:15px; */
}

.pty_flex dt{
	margin-right:20px;
	width:100px;
	text-align: right;
}

.pty_sub_layout{
	position:relative;
	top:180px;	 
	
}

.pty_sub_layout{
	border-top:0px!important;
	
}


.left_col h4{
	color:var(--point-color);
	font-size:24px;
}
.footer .inner h1{
	display:flex;
}

.footer .inner h1 .mid{
	font-weight:normal;
}

.footer .inner img{
	height:52px;
	width:100%;
}


.pty_box01{
	display:flex;
	margin-bottom: 10px;
}


label:focus {
	border-color:var(--point-color);
	
	
}


thead{
	background:#f5f6f7;
}

.pty_btn{
	height:34px;
	/* width:80px; */
	background:var(--box-color);
	border-radius:6px;
	border:1px solid #dde2e5;
	font-size:14px;
	padding: 0 24px;
}

.pty_f_date{
	border:1px solid #dde2e5 !important;
}

.pty_f_input{
	border:1px solid #dde2e5 !important;
}

.pty_container{
	height: 720px;
	 
}

.pty_P_LOGIN_bottom{
	text-align: center;
	display:flex;
	justify-content:center;
}

.pty_f_chk{
	margin-right:10px;
	margin-top:10px;
	font-size:18px;
	
}

.left_col span{
	 margin-right:16px; 
	font-size:14px;
	color: var(--font-gray2);
}

.tit_1{
	display:none;
}

.pty_icon_box{
	text-align: center;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	
}	

.pty_icon_box a:visited, .pty_icon_box a:link {
	color:black;
	
}
	


.pty_icon_box h2{
	margin-top:20px;
	font-weight:500;
}

.pty_icon_box h2:hover{
	color:var(--point-color);
}

.pty_icon_box p{
	margin-top:16px;
	color:#999999;
}


/* 모바일 메뉴 토글 */


	#pmt_nav ul{ 
		width:100%; 

		text-align:left;
	 }
	#pmt_nav ul.pmt_menu li{
		/* position:relative; 
		float:left; */
		
		 width:100%;
	
		 font-size:50px;
		}


	#pmt_nav ul.pmt_menu li a{ 
		display:block; 
		width:100%; 
		height:100%;
		line-height:100px;
		text-indent:30px; 
		color:#404040; 
		font-weight:bold; 
		font-size:35px;
		 /*  border-bottom:1px solid var(--line-color); */
		  
		}

	#pmt_nav ul.pmt_menu li a:hover{ 
		background:#eee;
	 }

	#pmt_nav ul.pmt_menu li .pmt_sub a{ 
		
		display:block; 
		width:100%; 
		z-index:999; 
	/* 	background:#ccc; */
		
		font-size:30px;
		font-weight:400;
		line-height: 60px;
	}

	#pmt_nav ul.pmt_menu li .pmt_sub a:hover{ 
		
		color:#ff6600; 

	}
	.pmt_sub li:last-child{
		margin-bottom: 20px;
	}
	
	.btn_area{
		/* text-align: right; */
		display:flex;
		justify-content: space-between;
		margin-top:8px;
	}

.board_list_bot{
	/* margin-top:24px; */
	/* margin-top: 15px; */
}

.pty_condition{
	display:flex;
	justify-content: center;
	gap: 8px;
	
}





.pty_margin-right_8{
	margin-right:8px;
	
}

.pty_margin-left_8{
	margin-left:8px;
}

.pty_margin-top_8{
	margin-top: 8px;
}

.pty_margin-bottom_8{
	margin-bottom:8px;
}

.pty_bottom_fix{
	height:auto;
	min-height:100%;

}
.pty_padding-left_24{
	padding-left: 24px!important;
}

.pty_text-align_left{
	text-align:left!important;
}


