@charset "UTF-8";

@media screen and (max-width: 1400px){
	
	.layout .content_wrap {
    	padding-left: 1%;
	}
	
	.layout .nav {
		display: none !important;
	}
	
	.sub_in {
	    padding: 0;
	}
}


@media screen and (max-width: 425px){
	
	.f_txt {
	    font-size: 12px;
	}
	
	.btn_blue_46, .btn_skyblue_h46 {
	    height: 31px !important;
	    font-size: 11px !important;
	    line-height: 28px !important;
	    padding: 0 4px !important;
	    width: 70px !important;
	    margin-bottom: 5px !important;
	}
	
	.pty_btn {
	    height: 31px !important;
	    font-size: 11px !important;
	    padding: 0 4px !important;
	    width: 80px;
	}
	
	.btn_area {
		margin-bottom: 5px;
	}
	
	.board_list_bot {
	    margin-bottom: 10px;
	}
	
	.paging .btn a {
	    width: 20px !important;
	    height: 20px !important;
	}
	
	.paging>ul li a, .paging>ul li strong {
	    width: 18px !important;
	    height: 18px !important;
	    line-height: 17px !important;
	}
	
	.aprv_table {
	    width: 40px;
	}
	
	.board_list table {
	    font-size: 10px;
	}
	
	.header .top_menu {
	    top: 10px !important;
	}
	
	.header .inner .left_col {
	    padding: 8px 2% !important;
	}
	
	.header {
	    height: 110px !important;
	}
	
	.header .inner .left_col {
	    padding: 30px 2% !important;
	}
	
	.board_view2 td {
	    padding: 3px 1% !important;
	}
	
	td {
	    font-size: 10px !important;
	}
	
	.lb .manual_img {
	    width: 18px !important;
	    right: 0 !important;
	    transform: translate(-14%, -50%) !important;
	}
		
	.f_select::after {
	    right: 7px;
	}
	
	.f_14 {
	    font-size: 10px !important;
	}

	.footer h1 {
	    margin: 20px 6px;
	}
	.content {
	    min-height: initial !important;
	    padding-bottom: 0px;
	}
}


@media (min-width: 425px) and (max-width: 900px){ 
		
	.btn_blue_46, .btn_skyblue_h46 {
	    height: 31px !important;
	    font-size: 14px !important;
	    line-height: 28px !important;
	    padding: 0 5px !important;
	    width: 70px !important;
	    margin-bottom: 5px !important;
	}
	
	.pty_btn {
	    height: 31px !important;
	    font-size: 14px !important;
	    padding: 0 5px !important;
	    width: 80px;
	}
	
	.aprv_table {
	    width: 60px;
	}
	
	.f_select::after {
	    right: 4%;
	}
	
	.header .inner .left_col {
	    padding: 16px 2% !important;
	}

}
 
@media screen and (max-width: 900px){
	
	.f_search input[type=text] {
	    padding: 0 14px 0 7px;
	    font-size: 12px;
	}
		
	.P_MAIN .col .head h2{
		margin-bottom: 0px !important;
	}
	
	.pty_list_d {
	    display: flex;
	    flex-direction: column-reverse;
	}
		
	.al_r {
	    text-align: initial !important;
	}
	
	.pmt_sub li a {
		 font-size: 30px !important;
	}
	
	.list_count div div:last-child{
		width: 163px;
;
	}
	
	.list_count div div:last-child span{
		width: 60%;
		margin-right: 0 !important;
	}
	
	.list_count div div:last-child label{
		width: 40%;
	}
	
	.left_col span {
	    font-size: 12px !important;
	}
	
	.list_count {
	    font-size: 14px !important;
	}
	
	.f_chk_only::before {
	    width: 10px;
	    height: 10px;
	    vertical-align: bottom;
	}

	
	
	
	td .btn_skyblue_h46{
		width: 100% !important;
		padding: 0 5px;
		font-size: 10px;
	}
	
	td .w_88{
		width: 48% !important;
	}
	
	.paging .btn a {
	    width: 23px;
    	height: 23px;
	}
	.paging .first,  .paging .last{
		background-size: 70% 76%;
	}
	
	.paging .prev, .paging .next{
		background-size: 55% 80%;
	}
	
	.paging>ul li {
	    margin-top: 0px;
	}
	
	.paging>ul li a, .paging>ul li strong {
	    display: block;
	    width: 20px;
	    height: 20px;
	    font-weight: 300;
	    line-height: 19px;
	    text-align: center;
	}
	
	.f_select {
		width: 100%;
	}
	
	.f_select select {
	    padding: 0 23px 0 5px !important;
    	font-size: 12px !important;
	}
	
	.f_search2 input[type=text] {
	   padding: 0 23px 0 5px !important;
	   font-size: 12px !important;
	}
	
	.ui-datepicker-trigger {
	    margin-left: 6px !important;
	}
	
	.search_date img {
	    width: 12px !important;
	    height: 12px !important;
	}
	
	.search_date input {
	    padding-left: 20px !important;
	}
	
	.search_date input {
	    font-size: 12px !important;
	}
		
	.f_txt {
	    padding: 0 8px;
	}
	
	.f_txtar {
	    padding: 3px 8px;
	}

	
	
	.mobG{
		display: block !important;
	}
	
	.webG{
		display: none;
	}
	.wrap{
		
		width: 100% !important;
		height: 100% !important;
	}
	
	.header{
		width: 100%;
	}
	
	body{
		/* min-width:700px !important; */
		min-width:100%!important;
		width:100% !important;
		
	}
	
	
	
	.pty_footer{
	
			/*   transform: translateY(50vh); */
   		 height: 50px;
	
		
		width:100%;
		margin:0 auto;
	}
	
	
	#loginForm{
		width:96%;
		margin:0 auto;
	}
	
	.pty_flex dl, .pty_flex, .loginbox, .loginbox dd input[type=text], .loginbox dd input[type=password]{
	
		all:unset;
	}
	
	


	.loginbox dd input[type=text], .loginbox dd input[type=password]{
		width:100%;
		height:64px;
		font-size: 16px;
		border-bottom: 1px solid #c5c5c5;
		margin-bottom: 16px;
		padding: 0px 5px;
	
	}
	
	.pty_flex{
		display:block!important;
		margin-bottom:56px;
	}
	
	.pty_flex dl{
		display:block!important;
		line-height:0px!important;
	}
	
	.pty_flex dt{
		display:none;
	}
	
	
	.pty_container{
		/* position:relative;
		top:100px; */
		height: 100% !important;
		padding-bottom: 0 !important;
	} 
	
	/* .wrap{
		max-width:700px !important;
		width:100% !important;
	
	} */
	
	.pty_flex dd{
		font-size: 16px !important;
		font-size: 16px;
		color:var(--font-gray);
	}
	
	.pty_flex dd input.pdi{
		width: 60%!important;
		padding: 0px 5px;
	}
	
	.loginbox{
		width:660px!important;
	}
	
	.f_chk::before{
		/* width:40px;
		height:40px; */
		width: 30px;
    	height: 30px;
	}
	
	.pty_f_chk{
		font-size:16px;
	}
	
	.P_LOGIN{
		position:relative;
		
	}
	
	.pty_P_LOGIN_bottom{
		display:block!important;
		margin-bottom: 100px !important; 
	}
	
	.btn_login{
		display:none!important;
	}
	
	.loginbox .pty_m_btn_login {
	display:block!important;
	/* position:absolute;
	left:499px;
	top:60px; */
	
	border-radius:8px;
	color:#fff;
	font-size:18px;
	font-weight:500;
	line-height:72px;
	text-align:center;
	background:#ff6600;
	
	font-size:24px;
	width:100%;
	height:72px;
}
	
	
	.util_menu{
		display: block!important;
	}
	
	
	
    .header .inner .left_col{
    	display:block !important;
    	width : 100%;
    }

	.gnb{
		display:none;
	}

	.P_MAIN .visual{
		/* width:700px !important; */
		width:100% !important;
	}

	
	.header .inner{
		width:100% !important;
		/* width:700px !important; */
		/* padding:0 24px !important; */
		padding: 0 !important;
	}
	
	.header .top_menu {
		right: 2%!important;
		/* right: 24px!important; */
	
	}
	
	.P_MAIN .col{
		/* width:700px !important; */
	/* 	padding:184px 0 24px 0 !important;
		display:block; */
		padding: 3% 0 0 0;
	    gap: 4%;
	    margin-bottom: 40px;
	    width: 95%;
	}
	
	.P_MAIN .col .head .more {
	    background-size: 20px 20px;
	    width: 20px;
    	height: 20px;
	}
	
	.util_menu .allmenu {
	    background-size: 100% 100% !important;
	}
	
	.util_menu ul li a {
	    width: 45px;
	    height: 45px;
	}
	
	.P_MAIN .col::after {
	    display: none;
	}
	
	.P_MAIN .col .head h2 {
	    font-size: 16px;
	}
	
	.pty_colbox{
		all:unset;
	}
	
	.pty_main_img{
	 	margin-right:0!important;
	}
	
	.pty_main_img img{
		display:none;
	}
	
	.pmr_d{
		/* width:320px!important;
		height: 320px!important; */
		width: 49% !important;
    	height: 183px !important;
	}
	
	
	.pmr_d p, .pty_main_right03 p, .pty_main_right04 p{
		/* font-size:24px!important; */
		    font-size: 18px!important;
	}
	
	
	.pmr_d h4, .pty_main_right03 h4, .pty_main_right04 h4{
		/* font-size:16px!important; */
		font-size: 14px!important;
	}
	
	.pty_main_right03 h4, .pty_main_right04 h4{
		margin-top: 0!important;
	}
	.pmr_d img{
		width: 100%!important;
		height: unset!important;
	}
	
	
	.footer .inner{
		/* width:700px !important; */
		width:100% !important;
		padding: 0;
	}
	
	.P_MAIN .col .right_col{
		width:46% !important;
		
	}	
	
/* 	.P_MAIN .col .right_col:first-child{
		margin-right:56px;
	} */
	
	.P_MAIN .col .left_col{
		width:90% !important;
		margin: 0 auto !important;
	}
	
	
	.util_menu{
		/* right: 24px!important; */
		right: 2%!important;
	}
	
	.P_MAIN .col>*{
		float:none !important;
	}
	
	.P_MAIN .col .box{
		height:auto !important;
		margin-bottom:32px !important;
	}
	
	.P_MAIN .col .right_col .list{
	/* 	padding: 0 48px 38px !important; */
	}
	
	.pty_main_img{
		text-align: right;
	}
	
	.pty_main_img img{
		width:80%;
	}
	
	.pty_main_right02{
		width:96%;
		gap: 2% !important;
		margin-left: 2%;
		margin-right: 2%;
	}
	
	.Mload{
		display: flex;
		gap: 2%;
		margin-left: 2%;
    	margin-right: 2%;
	}
	
	.all_menu>div {
    	height: 100%;
	}
	
	.pty_main_right03{
		/* width: 100%!important; */
		width: 50%!important;
		padding: 3% 2% !important;
	}
	
	
	.file_G img {
	    width: 60px !important;
	    position: absolute !important;
	    bottom: 20% !important;
	    right: 6% !important;
	}
	
	.pty_main_right04{
		display: block !important;
		width: 50%!important;
		height:110px;
		
		border-radius: 4px;
		background:#fff;
		margin-top: 16px;
		position: relative;
		
		padding: 3% 2% !important;
	}
	
	.footer h1 {
		float: none !important;
	
	}
	
	
	.footer .inner img{
		display:none !important;
	}
	
	.footer .mid{
		margin:0 !important;
		font-size: 10px!important;
	}
	
	.footer .mid address {
    	line-height: 1.8;
	}
	
	.pty_footer {
	  /*    position: absolute !important; */
	 /*   transform: translateY(100%); */
	  /*   bottom: 0px !important; */
	}
	
	.all_menu{
		/* width:700px !important; */
		width:100% !important;
		min-height: calc(100% - 125px) !important;
   		 height: auto !important;
	}
	
	.all_menu .inner{
		display:flex !important;
		width:700px !important;
	}
	
	#pmt_nav ul.pmt_menu li a {
	   /*  font-size: 16px !important; */
	    font-size: 35px ;
	    line-height: initial !important;
	}
	
	.all_menu .inner>div:first-child{
		padding-left:34px !important;
	}
	
	.sub_layout{
		border-top: 0!important;
		/* position: absolute !important;
		top: 50% !important;
		left: 50%;
		transform:translate(-50%,-50%); */
		width: 98%;
    	margin: 0 auto;
	}
	
	.pty_bottom_fix {
	    /* height: calc(100% - 170px) !important; */
	    min-height: calc(100% - 170px) !important;
	    width: 100%;
	}
	
	.container.main {
	    width: 100%;
	    padding: 10px 0;
	}
	
	.pty_main_right{
		 width: 100%;
	}
	
	.P_MAIN {
	   min-height: initial !important;
	   width: 100%;
	}
	
	.P_MAIN .bot {
	    width: 100%;
	}
	
	.P_LOGIN h1 {
	    font-size: 42px !important;
	}
	
	.layout .nav{
		display:none!important;
		padding-top:unset!important;
	
	}
	
	.layout .content_wrap{
		display:contents !important;
		padding-left:unset!important;
	}
	
	.sub_in{
		/* padding:0 24px !important; */
		padding: 0 !important;
		width:auto!important;
		
	}
	
	.layout .nav .inner{
		display:flex!important;
	}
	
	.layout .nav .inner>ul{
		display:inherit!important;
	}
	
	.layout .nav .inner>ul>li+li{
		border-top:0!important;
	}
	.layout .nav .inner>ul{
		
	}
	
	.layout .nav .inner>ul>li{
		margin:0 10px !important;
	}
	
	.tit_1+.tit_2{
		font-size:24px !important;
		text-align: center!important;
		/* border-top:2px solid var(--point-color)!important; */
	}
	
	.condition2 .pty_box01:nth-last-child(1) div:nth-child(odd) {
		width:400px !important;
	}
	

	.pty_board_list table{
		width:100% !important;
	}
	
	
	table{
		width:auto !important;
	}
	
	.board_view2 table{
		width:100%!important;
	}
	
	
	.pty_board_list table{
	width:100%!important;
	}
	
	.board_list th{
		/* padding:23px 10px !important; */
	}
	
	.pty_search{
		text-align:right!important;
	}
	
	
	.pty_condition{
		display:flex !important;
		flex-wrap: wrap !important;
		gap: 8px;
		
	}
	.pty_condition div{
		margin-bottom:5px !important;
	}
	
	.condition{
		display:flex!important;
		flex-wrap: wrap;
	}
	
	.condition form{
		display:flex!important;
	}
	
	.location{
		display: none !important;
		/* text-align:left !important; */
	} 
	
	.layout .nav h2{
		padding:0 0 8px 0!important;
		border-bottom:0!important;
	}
	
	.tit_2{
		text-align:center!important;
		padding-top:0px !important;
		font-size:24px !important;
	}
	
	.pty_f_search{
		margin-left:0!important;
		margin-top:10px!important;
	}
	
	.catInnerBox{
		/* height:auto!important; */
	}
	
	.upperCat, .lowerCat{
		min-height:auto!important;
		width:auto!important;
	}
	.catBox{
		display:block!important;
	}
	
	.catInputBox{
		justify-content:center!important;
		gap:10px !important;
	}


	.pty_colbox{
		margin:0 auto;
	}
	 
	.pty_icon_box{
		position:static!important;
		transform:none!important;
		padding:20px;
	}
	
	.pty_icon_box p{
		margin-top:0!important;
	}
	
	.pty_font-size_12{
		font-size: 12px;
	}
	

}